/*
Colours
yellow #eae005
teal #14ce8a
black #111010
gray #5f5757
pink #ff5967
white #fff

Breakpoints
25em = 400px
38em = 608px
60em = 960px

Fonts
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition: 300ms all ease-in-out;
}
a{
  text-decoration: none;
  color:#111010;
}
ul{
  margin:0;
}
.grid{
  position:relative;
  margin:0 auto;
  max-width:60em;
}
h1,h2,h3,h4,h5,h6{
  font-weight:400;
}
h1{
  color:#fff;
}
ul{
  list-style-type: none;
}
.desktop{display:none;}

.bg-home-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/home-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:3em 0;
}
.bg-service-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/service-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:3em 0;
}
.bg-price-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/price-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:2em 0;
}
@media only screen and (min-width:25em){
  .bg-home-hero{padding:4em 0;}
  .bg-service-hero{padding: 5.10em 0; 0;}
  .bg-price-hero{padding: 3.10em 0; 0;}
}
@media only screen and (min-width:38em){
  .bg-home-hero{background:url("../images/home-hero-m.jpg") no-repeat center bottom / cover;}
  .bg-service-hero{  background:url("../images/service-hero-m.jpg") no-repeat center bottom / cover;}
  .bg-price-hero{  background:url("../images/price-hero-m.jpg") no-repeat center bottom / cover;}
}
@media only screen and (min-width:60em){
  .bg-home-hero{background:url("../images/home-hero-l.jpg") no-repeat center bottom / cover; padding:8em 0;)}
  .bg-service-hero{  background:url("../images/service-hero-l.jpg") no-repeat center bottom / cover; padding:8em 0;}
  .bg-price-hero{  background:url("../images/price-hero-l.jpg") no-repeat center bottom / cover; padding:5em 0;}
}
.bg-primary{
  overflow:hidden;
  background:url("../images/bg-1.jpg") no-repeat center top / cover;
}
#service-list .bg-secondary{
  background:url("../images/bg-2.jpg");
  border-radius:0.75em;
  background-position: -1em -1em;
  padding:1em;
}
#service-list ul.bg-secondary{
  background:url("../images/bg-2.0.jpg");
  border-radius:0.75em;
  background-position: -4em -20px;
  padding:1em;
}
#service-list ul.bg-secondary:last-child{
  background:url("../images/bg-2.jpg");
  border-radius:0.75em;
  background-position: -13em -22px;
  padding:1em;
}

/* bg images
=================*/

.grid-nav{
  position:relative;
  margin:0 auto;
  max-width:70em;
}
nav{
  float:right;
}
nav li{
  margin-right:2em;
}
nav label {
  height: 60px;
  width: 70px;
  display: block;
  text-align: right;
  line-height: 55px;
  cursor: pointer;
  position: absolute;
  z-index:11;
  top: 10px;
  right: 40px;
}
nav label:after {
  content: "Menu";
  display: block;
}
nav .menu li {
  display: block;
  margin-bottom: 20px;
}
nav #mobile-menu {
  display: none;
}
[type="checkbox"]:checked + .menu {
  background: rgba(20, 206, 138, 0.95);
  display: block;
  top: 71px;
  left: 0;
  right: 0;
  padding: 35px 30px;
  position: absolute;
  z-index: 10;
}
[type="checkbox"] + .menu {
  display: none;
}
@media only screen and (min-width:38em) {
  nav .menu {float: right;}
  nav .menu li {display: inline-block;margin-left: 20px;margin-bottom: 0px;}
  nav .menu li:first-child {margin-left: 0px;}
  nav .menu {display: block !important;}
  nav label {display: none;}
}

/* nav style
=================*/


#red-car-hero h1{
  color:#fff;
}

/* hero style
=================*/

#serving-the-pittsburgh h2{
  color:#808080;
}
/* serving
=================*/
main section:first-child{
    display:block;
}
#vine-video  .embed-container {
  position: relative;
  padding-bottom: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius:0.35em;
}
#vine-video  .embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#adam-quote .media__body h5{
  margin-bottom:0.5em;
}
 #adam-quote .media__body{
  margin-top:1em;
  padding-left:1em;
}
#adam-quote .media__img{
  float:none;
  margin-right:0;
}
#adam-quote .media__img img{
  max-width:100px;
  margin-top:2em;
}

#service-list .interior{
  margin-bottom:2rem;
}
main li{
  margin-bottom:0.45em;
}
main .interior li:nth-child(n+2),
main .exterior li:nth-child(n+2){
  padding-left:1em;
}
main h2{
  line-height: 100%;
}
main h4{
  margin-top: 2em;
  font-size: 2em;
}
/* main style
=================*/

#main-service .box{
  background:url("../images/bg-2.1.jpg");
  border-radius:0.75em;
  background-position: -4em -20px;
  padding:1em;
  margin-bottom:4em;
}

#main-service h3{
  padding-left:3em;
}
#main-service .product-1{
  position:absolute;
  top: 65px;
  bottom: 0;
  left: 38px;
}
#main-service .product-2{
  position:absolute;
  top: 480px;
  bottom: 0;
  left: 38px;
}
#main-service .product-3{
  position:absolute;
  top: 841px;
  bottom: 0;
  left: 38px;
}
#main-service-quote img{
  margin-right: 0.50em;
}
#main-service-quote h5{
      margin-bottom: 0.5em;
}
#main-service-quote h4{
  margin-top:0;
}

/* service
=================*/
#main-price .grid{
  width:16em;
}
#main-price img{
  max-width:75%;
 margin-top:2em;
}
@media only screen and  (min-width:20em){
#main-price .grid{width:18em;}
#main-service-quote img{max-width:70%;}
}
@media only screen and (min-width:25em){
#main-price .grid{width:25em;}
}
@media only screen and (min-width:38em){
#main-price .grid{width:38em;}
}
@media only screen and (min-width:60em){
#main-price .grid{width:43.750em;}
}
#main-price .box{
  background:url("../images/bg-3.png");
  border-radius:0.75em;
  padding:1em;
  margin-bottom:2em;
  max-height:200px !important;
}
#main-price h6{
  color:#14ce8a;
  font-family:'Poppins', sans-serif;
  font-weight:300;
  letter-spacing:-5px;
  line-height:155px;
}
#main-price .dollar{
  font-size:0.40em;
  vertical-align: ;
}
#main-price h3{
  margin-top:1.40em;
  margin-left:1em;
}
#main-price h6-xs{
  font-size:1em;
}

@media only screen and  (min-width:20em){
#main-price .h6-xs{font-size:3em;}
#main-price .h3-xs{font-size:1em;}
}
@media only screen and (min-width:25em){
#main-price .h6-s{font-size:4em;}
#main-price .h3-s{font-size:2em;}
}
@media only screen and (min-width:38em){
#main-price .h6-m{font-size:5em;  letter-spacing:-8px;}
#main-price .h3-m{font-size:2em;}
}
@media only screen and (min-width:60em){
#main-price .h6-l{font-size:10em; letter-spacing:-10px;}
#main-price .h3-l{font-size:2em;}
}

.margin-bottom-zero{
  margin-bottom:0!important;
}

/* price style
=================*/

footer .box{
  background: rgba(90, 90, 90, 0.5);
  border-radius:1em;
  margin-bottom:2em;
  padding:3em 2em 0em;
}
footer .box li{
  font-family:'Poppins', sans-serif;
  font-weight:600;
  text-align:left;
  margin-bottom:2em;
  color:#fff;
}
footer .box ul:first-child li{
  margin-right:3em;
}
footer .box ul{
  vertical-align: top;
}
footer a + h2{
  margin-bottom:0;
  margin-left:0.25em;
}
footer ul{
  padding-left: 0;
}
footer .social li{
  margin-right:0.35em;
}
footer .fa-heart{
  color:#ff5967;
}
footer .copy-left{
position:absolute;
bottom:0;
left:0;
padding-left:1em;
}
footer .copy-right{
position:absolute;
bottom:0;
right:0;
padding-right:1em;
}
footer p{
  margin-bottom:0;
}


/* footer style
=================*/

span.heavy-title-alternative{
  color:#808080;
  font-weight:900;
}
span.heavy-title-primary{
  color:#fff;
  font-weight:900;
}
span.heavy-title-secondary{
  color:#111010;
  font-weight:900;
}
.brand-family-primary{
  font-family: 'Poppins', sans-serif;
  color:red;
}
.brand-family-secondary{
  font-family: 'Open Sans', sans-serif;
  color:#111010;
}
.brand-family-secondary-italics{
  font-family: 'Open Sans', sans-serif;
  color:#5f5757; /* light-gray */
  font-weight:500;
  font-style:italic;
}
.title-secondary{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  color:#14ce8a; /* teal */
}
#main-price .title-secondary{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  color:#898989;
  text-transform:lowercase; /* teal */
}
.title-secondary-underline{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  text-decoration:underline;
  font-style:italic;
  color:#14ce8a; /* teal */
}
.title-secondary-alternative{
  font-family:'Poppins', sans-serif;
  font-weight:500;
  color:#b1b1b1; /* teal */
}

.name-heavy-primary{
  font-family:'Poppins', sans-serif;
  font-weight:600;
  color:#5f5757;
}
.name-heavy-title-secondary{
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  color:#5f5757;
}


/* type style
=================*/


@media only screen and (min-width:25em){
  html{font-size:100%;}
  .desktop{display:none;}
  #adam-quote .media__img img{margin-top:1em;}
}
@media only screen and (min-width:28.250em){
  #main-service .product-1{
    position:absolute;
    top: 65px;
    bottom: 0;
    left: 38px;
  }
  #main-service .product-2{
    position:absolute;
    top: 442px;
    bottom: 0;
    left: 38px;
  }
  #main-service .product-3{
    position:absolute;
    top: 815px;
    bottom: 0;
    left: 38px;
  }
}
@media only screen and (min-width:38em){
   html{font-size:100%;}
  .desktop{display:block;}
  .mobile{display:none;}
  #serving-the-pittsburgh h2{text-align: left; margin-bottom:0;}
  #serving-the-pittsburgh a{text-align:right;}
  footer .btn{margin-bottom:3em;}
  .social{margin-bottom:3em;}
  footer .bt{margin-bottom:6em;}
  main .unit{position:relative;}
  main h2-lead-m{margin-bottom:1.35em;}
  #adam-quote .media__img{float:left; margin-right:2em;}
  #service-list .giga{font-size:50%;}
  #service-list .interior{margin-bottom:0;}
  main .list-group__item--inline--main{width:40%;}
  main .interior{margin-bottom: 0;}
  main section:first-child{display:none;}
  #service-list{position: relative;overflow: hidden;padding-bottom:18.10em;}
  #service-list .exterior{position:absolute;bottom:32px;right:16px;}
  #service-list .interior{position:absolute;bottom:32px;left:16px;}
  #adam-quote .media__img img{max-width:170px;}
  footer .box{margin-bottom:5em;}
  #main-service .product-1{position:absolute;top: -23px;bottom: 0;left: 38px;}
  #main-service .product-2{position:absolute;top: -23px;bottom: 0;left: 38px;}
  #main-service .product-3{position:absolute;top: -23px;bottom: 0;left: 38px;}
}
@media only screen and (min-width:60em){
  html{font-size:100%;}
  main .giga{font-size:50%;}
  main .list-group__item--inline--main{width:40%;}
  .desktop{display:block;}
  .mobile{display:none;}
  footer .btn{margin-bottom:6em;}
  #service-list .exterior{position:absolute;bottom:32px;right:60px;}
  #main-service .box{background:url("../images/bg-2.1.jpg");border-radius:0.75em;background-position: -4em -20px;padding:1em;margin-bottom:0em;}
  #main-service .product-1{position:absolute;top: -23px;bottom: 0;left: 38px;}
  #main-service .product-2{position:absolute;top: -23px;bottom: 0;left: 38px;}
  #main-service .product-3{position:absolute;top: -23px;bottom: 0;left: 38px;}
}
.h2-lead-l{font-size:4.150rem; margin-bottom:1.50em;}
