/*
Colours
yellow #ecee215
teal #14ce8a
dark teak #196f50
gray #5f5757
pink #ff5967
white #fff

Breakpoints
25em = 400px
38em = 608px
60em = 960px

Fonts
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition: 300ms all ease-in-out;
}
a{
  text-decoration: none;
  color:#111010;
}
ul{
  margin:0;
}
.grid{
  position:relative;
  margin:0 auto;
  max-width:60em;
}

h1,h2,h3,h4,h5,h6, p{
  font-weight:400;
  margin-top:0;
}
h1{
  color:#fff;
}
ul{
  list-style-type: none;
}
.desktop{display:none;}

#red-car-hero h1{
  font-size:2rem;
}
#red-car-hero h1-xs{
  font-size:2rem;
}

}
@media only screen and (min-width:25em){
  #red-car-hero h1{font-size:2.5rem;}
}
@media only screen and (min-width:38em){
  #red-car-hero h1{font-size:4rem;}
}
@media only screen and (min-width:60em){
  #red-car-hero h1{font-size:5rem;}
}


/*
red-car-hero
=================*/

#serving-the-pittsburgh h2{
  font-size:1rem;
  color:#808080;
}
@media only screen and (min-width:25em){
#serving-the-pittsburgh h2{font-size:1rem;}
}
@media only screen and (min-width:38em){
#serving-the-pittsburgh h2{font-size:2rem; text-align:left; margin-bottom:0; margin-top:0.2em;}
}

/*
 serving-the-pittsburgh
==========================*/

.bg-home-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/home-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:3em 0;
}
.bg-service-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/service-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:3em 0;
}
.bg-price-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/price-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:2em 0;
}
.bg-contact-hero{
  position:relative;
  overflow:hidden;
  background:url("../images/contact-hero-s.jpg") no-repeat center bottom / cover;
  background-position: 100% 100%;
  padding:2em 0;
}
@media only screen and (min-width:25em){
  .bg-home-hero{padding:4em 0;}
  .bg-service-hero{padding: 5.10em 0; 0;}
  .bg-price-hero{padding: 3.10em 0; 0;}
  .bg-contact-hero{padding: 5.10em 0; 0;}
}
@media only screen and (min-width:38em){
  .bg-home-hero{background:url("../images/home-hero-m.jpg") no-repeat center bottom / cover;}
  .bg-service-hero{  background:url("../images/service-hero-m.jpg") no-repeat center bottom / cover;}
  .bg-price-hero{  background:url("../images/price-hero-m.jpg") no-repeat center bottom / cover;}
  .bg-contact-hero{  background:url("../images/contact-hero-m.jpg") no-repeat center bottom / cover;}
}
@media only screen and (min-width:60em){
  .bg-home-hero{background:url("../images/home-hero-l.jpg") no-repeat center bottom / cover; padding:8em 0;)}
  .bg-service-hero{  background:url("../images/service-hero-l.jpg") no-repeat center bottom / cover; padding:8em 0;}
  .bg-price-hero{  background:url("../images/price-hero-l.jpg") no-repeat center bottom / cover; padding:5em 0;}
  .bg-contact-hero{  background:url("../images/contact-hero-l.jpg") no-repeat center bottom / cover; padding:8em 0;}
}
.bg-primary{
  overflow:hidden;
  background:url("../images/bg-1.jpg") no-repeat center top / cover;
}
#main-home .bg-secondary{
  background:url("../images/bg-2.jpg");
  border-radius:0.75em;
  background-position: -1em -1em;
  padding:1em;
}
#main-home ul.bg-secondary{
  background:url("../images/bg-2.0.jpg");
  border-radius:0.75em;
  background-position: -4em -20px;
  padding:2em;
}
#main-home ul.bg-secondary:last-child{
  background:url("../images/bg-2.jpg");
  border-radius:0.75em;
  background-position: -13em -22px;
  padding:2em;
}

/* bg images
=================*/

.grid-nav{
  position:relative;
  margin:0 auto;
  max-width:70em;
}
nav{
  float:right;
}
nav li{
  margin-right:2em;
  font-size:1rem;
}
nav label {
  height: 60px;
  width: 70px;
  display: block;
  text-align: right;
  line-height: 55px;
  cursor: pointer;
  position: absolute;
  z-index:11;
  top: 10px;
  right: 40px;
}
nav label:after {
  content: "Menu";
  display: block;
}
nav .menu li {
  display: block;
  margin-bottom: 20px;
}
nav #mobile-menu {
  display: none;
}
[type="checkbox"]:checked + .menu {
  background: rgba(20, 206, 138, 0.95);
  display: block;
  top: 71px;
  left: 0;
  right: 0;
  padding: 35px 30px;
  position: absolute;
  z-index: 10;
}
[type="checkbox"] + .menu {
  display: none;
}
#red-car-hero .pad-sandwich-xs{
  padding:1.2em 0;
}
@media only screen and (min-width:38em) {
  nav .menu {float: right;}
  nav .menu li {display: inline-block;margin-left: 20px;margin-bottom: 0px;}
  nav .menu li:first-child {margin-left: 0px;}
  nav .menu {display: block !important;}
  nav label {display: none;}
}

/*
        nav
=========================*/


/* hero style
=================*/


/* serving
=================*/


#main-home  .embed-container {
  position: relative;
  padding-bottom: 100%;
  height: 522px;
  overflow: hidden;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius:0.35em;
}
#main-home  .embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main-home .service-list{
  margin:0 auto;
}
#main-home .exterior,
#main-home .interior{
  display:block;
  text-align: left;
}
#main-home .interior{
  margin-bottom:2rem;
}
#main-home li{
  margin-bottom:0.45em;
}
#main-home .interior li:nth-child(n+2),
#main-home .exterior li:nth-child(n+2){
  padding-left:1em;
  margin-bottom:0.4em;
}

@media only screen and (min-width:25em){
#main-home .exterior, #main-home .interior {display:block;}
#main-home .interior{margin-right:2em;}
}
@media only screen and (min-width:28em){
#main-home .exterior, #main-home .interior {display:inline-block; border:}
}
@media only screen and (min-width:38em){
#main-home .service-list {position: relative;overflow: hidden;padding-bottom:28.5em;}
#main-home .exterior{position:absolute;bottom:32px;right:32px;}
#main-home .interior{position:absolute;bottom:32px;left:16px; margin-bottom:0rem;}
#main-home .list-group__item--inline--main{width:42%;}
#main-home .interior li:nth-child(n+2),
#main-home .exterior li:nth-child(n+2){ margin-bottom:0.9em;}
}
@media only screen and (min-width:60em){
  #main-home .service-list {position: relative;overflow: hidden;padding-bottom:25.1em;}
  #main-home .list-group__item--inline--main{width:42%;}
  #main-home .exterior{position:absolute;bottom:32px;right:42px;}
}
#main-home .media__body h5{
  font-size:1rem;
  margin-bottom:0.8em;
}
#main-home .media__body{
  margin-top:2em;
  padding-left:1em;
}
#main-home .media__body p{
  font-size: 0.9em;
  line-height: 1.8;
}
#main-home .media__img{
  float:none;
  margin-right:0;
}
#main-home .media__img img{
  max-width:100px;
}
@media only screen and (min-width:25em){
#main-home .media__img img{margin-top:0;}
}
@media only screen and (min-width:38em){
#main-home .media__img{float:left; margin-right:2em;}
#main-home .media__img img{max-width:170px; margin-top:1em;}
}

#main-home h2{
  margin-bottom:0;
}
#main-home span.scale-down{
  font-size:1.3rem;
}
@media only screen and (min-width:38em){
#main-home h2{font-size:2.750rem;}
#main-home span.scale-down{font-size:1.5rem;}
}
@media only screen and (min-width:60em){
#main-home h2{font-size:4.250rem;}
#main-home span.scale-down{font-size:2.8rem;}
}
#main-home h4{
  margin-top: 2em;
  font-size: 2rem;
}
#main-home .title-secondary{
  font-size:1.3rem;
}
@media only screen and (min-width:38em){
#main-home .title-secondary{font-size:1.8rem;}
}
#main-home ul .scale-down-2{
  font-size:0.9rem;
  color:#555555;
}
#main-home #price-button .scale-down-2{
  font-size:0.9rem;
  color:#b1b1b1;
  vertical-align: top;
}
/*
        main home
=========================*/


#main-service .box{
  background:url("../images/bg-2.1.jpg");
  border-radius:0.75em;
  background-position: -4em -20px;
  padding:1em;
  margin-bottom:4em;
  position:relative;
}
#main-service .margin-bottom-zero{
  margin-bottom:0!important;
}
#main-service h3{
  padding-left:3em;
}
#main-service h4{
  margin-top: 2em;
  font-size: 2rem;
}
#main-service #main-service-quote .scale-down-2{
  font-size: 1rem;
}
#main-service #price-button .scale-down-2 {
    font-size: 0.9rem;
    color: #b1b1b1;
    vertical-align: top;
}
#main-service .media__body p {
    font-size: 0.9em;
    line-height: 1.8;
}
#main-service .product-1{
  position:absolute;
  top: -11px;
  bottom: 0;
  left: 27px;
}
#main-service .product-2{
  position:absolute;
  top: -19px;
  bottom: 0;
  left: 28px;
}
#main-service .product-3{
  position:absolute;
  top: -12px;
  bottom: 0;
  left: 18px;
}
#main-service-quote img{
  margin-right: 0.50em;
}


@media only screen and  (min-width:20em){
  #main-service-quote img{max-width:70%;}
}
  #bg-service-hero  h1{
    font-size:1.5rem;
  }
 #bg-service-hero span.scale-down-1{
   font-size:1rem;
 }
  @media only screen and (min-width:25em){
    #bg-service-hero h1{font-size:2.5rem;}
    #bg-service-hero span.scale-down-1{font-size:1.5rem;}
  }
  @media only screen and (min-width:38em){
    #bg-service-hero h1{font-size:4rem;}
    #bg-service-hero span.scale-down-1{font-size:2rem;}
    #main-service .pad-top-s{padding-top:2em;}
    #main-service .pad-bottom-s{padding-bottom:2em !important;}
  }
  @media only screen and (min-width:60em){
    #bg-service-hero h1{font-size:4.5rem;}
    #bg-service-hero span.scale-down-1{font-size:3rem;}
  }

#main-service h3{
  font-size:1.3rem;
}
#main-service p{
      color: #555555;
      line-height: 1.6;
font-size: 0.9rem;
}
#main-service-quote h5{
  margin-bottom: 0.5em;
}
#main-service-quote h4{
  margin-top:0;
}

#bg-service-hero .pad-sandwich-xs{
  padding:1.2em 0;
}
/*
        main service
=========================*/


@media only screen and (min-width:25em){
#main-price .grid{width:25em;}
}
@media only screen and (min-width:38em){
#main-price .grid{width:32em;}
}
@media only screen and (min-width:60em){
#main-price .grid{width:40.750em;}
}

#main-price img{
  max-width:75%;
 margin-top:1em;
}


#main-price .margin-bottom-zero{
  margin-bottom:0!important;
}

#main-price .dollar{
  font-size:1.2rem;
  color:#14ce8a;
  vertical-align: top;
}
#main-price h6{
  color:#14ce8a;
  font-size:4rem;
  margin-bottom:0;
 letter-spacing: -7px;
 font-weight:300;
}
#main-price h3{
  font-size:0.9rem;
  margin-top:1.2em;
   margin-left:0.5em;
}

@media only screen and (min-width:25em){
#main-price h6{font-size:5rem; letter-spacing: -9px;}
#main-price img{margin-top:0; width:50%;}
#main-price h3{font-size:1rem; margin-left:0;}
}
#bg-price-hero span.scale-down-1{
 font-size:1rem;
}
@media only screen and (min-width:25em){
  #bg-price-hero h1{font-size:2.5rem;}
  #bg-price-hero span.scale-down-1{font-size:1.5rem;}
}
@media only screen and (min-width:38em){
  #bg-price-hero h1{font-size:4rem;}
  #bg-price-hero span.scale-down-1{font-size:2rem;}
}
@media only screen and (min-width:60em){
  #bg-price-hero h1{font-size:4.5rem;}
  #bg-price-hero span.scale-down-1{font-size:3rem;}
  #main-price .box{height:190px !important;}
  #main-price h6{font-size:10rem; letter-spacing: -14px;}
  #main-price h3{font-size:1.5rem; margin-left:1em; margin-top:2.2em;}
  #main-price .dollar{font-size:3rem;}
  #main-price img{margin-top:2.5em; width:65%;}
  #main-price .pad-sandwich-xs{padding:4.5em 0;}
}

/*
        main price
=========================*/


#main-contact form div{
  margin-bottom:1em;
}

#main-contact .form-inputs input, select, textarea{
  font-size:1em;
  width:100%;
  background:#cacaca;
  padding:0.70em 1em;
  border:none;
  color:#fff;
}
#radios label, input{
  display:inline-block;
}
#main-contact textarea{
  height:10em;
}
#main-contact button{
  cursor:pointer;
}
#main-contact .form-inputs{
  margin-top:2em;
}
#main-contact .form-inputs div{
  margin-bottom:1em;
}
#main-contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
#main-contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#main-contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
#main-contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
#main-contact .btn-s{
    padding:1em 6em;
    display:inline-block;
    background-color:#14ce8a; /*-- teal --*/
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    color:#fff;
    text-decoration:none;
    border: none;
}
#main-contact .btn-s:hover{
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
}
.contact-footer{
    padding:5em 0 2em 0em;
}

#bg-contact-hero  h1{
  font-size:1.5rem;
}
#bg-contact-hero span.scale-down-1{
 font-size:1rem;
}
@media only screen and (min-width:25em){
  #bg-contact-hero h1{font-size:2.5rem;}
  #bg-contact-hero span.scale-down-1{font-size:1.5rem;}
}
@media only screen and (min-width:38em){
  #bg-contact-hero h1{font-size:4rem;}
  #bg-contact-hero span.scale-down-1{font-size:2rem;}
  #main-contact .margin-top{margin-top:0;}
}
@media only screen and (min-width:60em){
  #bg-contact-hero h1{font-size:4.5rem;}
  #bg-contact-hero span.scale-down-1{font-size:3rem;}
}

/*
        main contact
=========================*/


 .box{
  background: rgba(90, 90, 90, 0.5);
  border-radius:1em;
  margin-bottom:2em;
  padding:3em 2em 0em;
  padding:2em 0.8em 0em;
}
footer .box li{
  font-family:'Poppins', sans-serif;
  font-weight:600;
  text-align:left;
  margin-bottom:2em;
  color:#fff;
  font-size:0.9rem;
}
footer .box ul:first-child li{
  margin-right:2em;
}
footer .box ul{
  vertical-align: top;
}
footer a + h2{
  margin-bottom:0;
  margin-left:0.25em;
}
footer ul{
  padding-left: 0;
}
footer .social li{
  margin-right:0.35em;
}
footer .fa-heart{
  color:#ff5967;
}
footer .copy-left{
position:absolute;
bottom:0;
left:0;
padding-left:1em;
}
footer .copy-right{
position:absolute;
bottom:0;
right:0;
padding-right:1em;
}
footer p{
  margin-bottom:1em;
  font-size: 0.8rem;
  line-height: 1.5;
}
footer .btn{
  margin-bottom:2em;
}

@media only screen and (min-width:25em){
footer .btn{margin-bottom:2em;}
}
footer h2{
  font-size:1.5rem;
}
@media only screen and (min-width:25em){
  footer h2{font-size:2rem;}
}
@media only screen and (min-width:38em){
footer .btn{margin-bottom:6em;}
footer .social{margin-bottom:6em;}
footer .box{padding:2em 1em 2em;}
footer .box li{font-size:0.9rem;}
}
@media only screen and (min-width:60em){
footer .box li{font-size:1.1rem;}
footer .box{padding:3em 2em 2em;}
}


input[type="radio"]{
  display:none;
}

input[type="radio"] + label:before{
  background-color:#f1ea55;
  display:inline-block;
  content:"";
  font-size:1.3rem;
  height:1em;
  width:1em;
  line-height:19px;
  margin:-5px 20px 0 0;
  text-align:center;
  vertical-align:middle;
  color:#14ce8a;
}
label{
  margin-right:2em;
}
input[type="radio"]:checked + label:before{
  font-family:FontAwesome;
  content:"\f00c";
  color:#14ce8a;
  }


/* footer style
=================*/

span.heavy-title-alternative{
  color:#808080;
  font-weight:900;
}
span.heavy-title-primary{
  color:#fff;
  font-weight:900;
}
span.heavy-title-secondary{
  color:#111010;
  font-weight:900;
}
.brand-family-primary{
  font-family: 'Poppins', sans-serif;
  color:red;
}
.brand-family-secondary{
  font-family: 'Open Sans', sans-serif;
  color:#111010;
}
.brand-family-secondary-italics{
  font-family: 'Open Sans', sans-serif;
  color:#5f5757; /* light-gray */
  font-weight:500;
  font-style:italic;
}
.title-secondary{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  color:#14ce8a; /* teal */
}
#main-price .title-secondary{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  color:#898989;
  text-transform:lowercase; /* teal */
}
.title-secondary-underline{
  font-family:'Poppins', sans-serif;
  font-weight:900;
  text-decoration:underline;
  font-style:italic;
  color:#14ce8a; /* teal */
}
.title-secondary-alternative{
  font-family:'Poppins', sans-serif;
  font-weight:500;
  color:#b1b1b1; /* teal */
}

.name-heavy-primary{
  font-family:'Poppins', sans-serif;
  font-weight:600;
  color:#5f5757;
}
.name-heavy-title-secondary{
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  color:#5f5757;
}


/* type style
=================*/


@media only screen and (min-width:25em){
  .desktop{display:none;}
}

@media only screen and (min-width:38em){
  .desktop{display:block;}
  .mobile{display:none;}
  #main-service .product-1{position:absolute;top: -18px;bottom: 0;left: 24px;}
  #main-service .product-2{position:absolute;top: -17px;bottom: 0;left: 25px;}
  #main-service .product-3{position:absolute;top: -17px;bottom: 0;left: 20px;}
  #main-service .pad-top-l{padding:0;}


}
@media only screen and (min-width:60em){
  .desktop{display:block;}
  .mobile{display:none;}
  #main-service .box{background:url("../images/bg-2.1.jpg");border-radius:0.75em;background-position: -4em -20px;padding:1em;margin-bottom:0em;}
  #main-service .product-1{position:absolute;top: -23px;bottom: 0;left: 30px;}
  #main-service .product-2{position:absolute;top: -23px;bottom: 0;left: 29px;}
  #main-service .product-3{position:absolute;top: -23px;bottom: 0;left: 24px;}
    #main-service .pad-top-l{padding-top:4.5em;}
}
#main-home h2{
   color:#555555;
}
#main-home h2 span{
  color:#555555;
}
#main-service h2{
  margin-bottom:3em;
  color:#555555;
}
@media only screen and (min-width:38em){
#main-service h2{font-size:2rem;}
#main-service .grid{padding:4.5em 0;}
}
#main-service h2 span{
  color:#555555;
}
#main-contact .box{
  background:url("../images/bg-3.png");
  position: relative;
  border-radius:0.75em;
  padding:1em;
  margin-bottom:2em;
  height:100px !important;
}
#main-home .logo{
  margin-top:4em;
}
#main-contact .box li{
  display:inline-block;
  margin-right:0.3em;
}
#main-contact .box li:first-child{
  font-size:3.3rem;
  color:#2cd396;
  font-weight:300;
}
#main-contact .box li:nth-child(2){
  font-size:0.9rem;
 vertical-align: super;

}
#main-contact .box li:nth-child(1){
  letter-spacing: -5px;
}

#main-contact .box li img{
  width:90px;
}
#main-contact .compact img{
  margin-left:0.4em;
  vertical-align: text-bottom;
}
#main-contact .sedan img{
  margin-left:1.7em;
  vertical-align: text-bottom;
}
#main-contact .mid-van img{
  vertical-align: text-bottom;
}
#main-contact .full-truck img{
  vertical-align: text-bottom;
}
#main-contact .motorcycles img{
  margin-left:1.7em;
  vertical-align: text-bottom;
}
#main-contact span.dollar{
  font-size:1rem;
  vertical-align: top;
}
#main-contact form{
  color:#555555;
}
#main-contact h3 span{
  color:#555555;
}
#main-contact .social{
 padding:0;
}
#main-contact .social li a{
  color:#555555;
}
#main-contact h2{
    color:#555555;
    font-weight:500;
}

#main-contact label{
  font-size:0.9rem;
  display: block;
  margin-top:2em;
}
#main-contact .box{
  text-align:center;
}
@media only screen and (min-width:38em){
#main-contact label{display: inline-block; margin-top:0;}
#main-contact .copy{text-align:left;}
}
footer {
  background:#2cd396 !important;
}

footer .btn{
  background:#ecee21;
  color:#555555;
  font-size:1.1rem;
}
footer h2{
  color:#555555;
}
footer h2 span{
  color:#555555!important;
}
footer h3 span{
  color:#555555 !important;
}
footer .social li a{
    color:#555555 !important;
}
